body {
  background-color: #f8f9fa;
}

#bugList .list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#bugList .list-group-item .bug-info {
  flex: 1;
  margin-right: 20px;
}

#bugList .list-group-item .bug-info h5 {
  margin: 0;
}

#bugList .list-group-item .bug-actions {
  display: flex;
  align-items: center;
}

#bugList .list-group-item .bug-actions button {
  margin-left: 10px;
}

#authContainer {
  margin-bottom: 20px;
}

button {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #2ba8fb;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

button:hover {
  background-color: #6fc5ff;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

button:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}